.parent{
    height: 470px;
    width: 350px;
    background-color: #3D3D5c;
    margin: 45px  auto;
    border-radius: 10px;
    padding: 30px;
  
}
.child{
    height: 40px;
    width: 337px;
    background-color: #a1af77;
    text-align: right;
    font-size: 30px;
    display: block;
    padding: 7px 7px;
    margin: 1 auto;
}

.child-2{
   height:200px;
   display:flex;
   flex-direction: column;
   padding: 10px ;
}
.btn{
    width: 50px;
    text-align: center;
    padding: 5px 0;
}
