.parent{
    height: 470px;
    width: 300px;
    background-color: #3D3D5c;
    margin: 45px  auto;
    border-radius: 10px;
    padding: 30px;
  
}
.child{
    height: 40px;
    width: 270px;
    background-color: #a1af77;
    text-align: right;
    font-size: 30px;
    display: block;
    padding: 5px 5px;
    margin:5px 5px;
}

.child-2{
   height:270px;
   display:flex;
   flex-direction: column;
   flex-wrap: wrap;
   margin:19px auto;
   justify-content: space-between;
   align-items: center;
}
.btn{
    width: 50px;
    font-size: 25px;
    text-align: center;
    padding: 7px 7px;
    margin: 3px 5px;
    border-radius: 5px;  
}

.btn-special{
    background-color: #FF6349;
    height:100px;
    color:white;

}
